<div class="jumbotron mx-auto text-right text-white">
  <p class="lead">{{ label|upper  }}</p>
  <h1 class="display-4 p72 bold">{{ content }}</h1>
  <a class="btn btn-danger btn mt-3" href="#screen2" role="button">ПОДРОБНЕЕ</a> 
</div>