<div class="col-md-6 mt-5">
	<div class="card text-center border-0">
	  <div class="mx-auto">{{ content.field_photo }}</div>
	  <div class="card-body">
		<h5 class="card-title">{{ content.field_header }}</h5>
		<p class="card-text"><a href="{{ content.field_link }}" target="_black">{{ content.field_sub_header }}</a></p>
	  </div>
	</div>
</div>