<div class="col-lg-4 d-flex align-items-center justify-content-end mb-3">
	<div class="bg-dark text-white p-2 font-weight-bold data mx-auto mx-lg-0">{{ content.field_link }}</div>
</div>
<div class="col-lg-8 mb-3">
	<div class="card mb-3 w-75 border-0">
	  <div class="row no-gutters">
		<div class="offset-md-1 col-md-11 d-flex align-items-center">
		  <div class="card-body">
			<h6 class="card-subtitle mb-2 text-muted text-center text-md-left">{{ content.field_sub_header }}</h6>
			<h5 class="card-title text-white text-center text-md-left">{{ content.field_header }}</h5>
			<div class="card-text text-white">{{ content.field_description }}</div>
		  </div>
		</div>
	  </div>
	</div>
</div>
