<div class="screen2 text-white py-5" id="screen2">
	<div class="container">
		<div class="row"> 
			<div class="col-12 col-lg-6 description">
				<h3 class="mb-4">{{ content.field_header }}</h3>
				{{ content.field_description }}
				<div class="link-store">{{ content.field_link }}</div>
			</div>
			<div class="col-12 col-lg-6">{{ content.field_photo }}</div>
		</div>
	</div>
</div>