<div class="bg-white">
	<div class="container screen7 py-5">
		<div class="row align-items-center">
			<div class="col-lg-6"><h5 class="col-12 col-lg-10">{{ content.field_header }}<h5/></div>
			<div class="col-lg-6">{{ content.field_photo }}</div>
		</div>
	</div>
</div>