<div class="col-12 hero mb-3">
	<div class="card">
	  {{ content.field_photo }}
	  <div class="card-body">
		<h5 class="card-title text-center p24">{{ content.field_header }}</h5>
		<!--h6 class="card-subtitle mb-2 text-muted">{#{ content.field_sub_header }#}</h6-->
	  </div>
	  <div class="card-sub-text px-4">
		<p class="card-text">{{ content.field_description }}</p>
	  </div>
	</div>
</div>