<div class="screen2 text-white py-5" id="screen2">
	<div class="container">
		<div class="row"> 
			<div class="col-12 col-lg-8 description bg-black mx-auto">
				<h3 class="mb-4 p40 text-center">{{ content.field_header }}</h3>
				{{ content.field_description }}
				<div class="link-store text-center">
					<a class="btn btn-danger btn mt-3" href="{{ content.field_link }}" role="button" target="_black">{{ content.field_name_link }}</a>
				</div>
			</div>
		</div>
	</div>
</div>