<div class="item">
	<div class="mb-3">
		<div class="card mb-3 border-0">
		  <div class="row no-gutters">
			<div class="offset-md-1 col-md-11 d-flex align-items-center">
			  <div class="card-body">
				<div class="bg-dark text-white p-2 font-weight-bold data mx-auto mx-lg-0 mb-3">{{ content.field_link }}</div>			  
				<h6 class="card-subtitle mb-2 text-muted text-center text-md-left">{{ content.field_sub_header }}</h6>
				<h5 class="card-title text-white text-center text-md-left">{{ content.field_header }}</h5>
				<div class="card-text text-white">{{ content.field_description }}</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>
</div>
