html{height: 100%; min-height: 33%; scroll-behavior: smooth;}
body{font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300;} 
.material-icons.md-green { color: rgba(39, 179, 104, 1); }

.p14{font-size: 14px;}
.p18{font-size: 18px;}
.p20{font-size: 20px;}  
.p22{font-size: 22px;}
.p24{font-size: 24px;}
.p28{font-size: 28px;}
.p30{font-size: 30px;}
.p32{font-size: 32px;}
.p36{font-size: 36px;}
.p40{font-size: 40px;}
.p42{font-size: 42px;}
.p48{font-size: 48px;}
.p72{font-size: 72px;}
.p200{font-size: 200px;}
.bold{font-weight: 700;}
.bg-black{background-color:rgba(0, 0, 0, .7);}

/*Header*/

header{
/*background: url("/themes/custom/battle/images/bg-1.jpg") no-repeat top center; */
background-size: cover;
height: inherit;
}
.jumbotron{margin-top: 12rem;}
.top-line{background-color:rgba(0, 0, 0, .3);}
.navbar{padding: 0; justify-content: end;} 
.navbar-dark .navbar-toggler{border-color: rgba(255,255,255,1);}
.bg-header{top:0; left:0; bottom:0; width: 100%; z-index: -1;}
.video-block{
z-index: -1;
inset: 0px;
overflow: hidden;
background-size: cover;
background-color: transparent;
background-repeat: no-repeat;
background-position: 50% 50%;
background-image: none;	
}
.video-block video{
margin: auto;
position: absolute;
z-index: -1;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
visibility: visible;
opacity: 1;
width: 100%;
height: auto;	
}
.language-switcher-language-url{position: absolute; top: 2%; left: 2%; height: 9%;}
.top-line nav li{margin-right: 2rem; font-size: 20px;}

/*Content*/
.screen2{background: url("/themes/custom/battle/images/bg-21.jpg") no-repeat top center; position: relative;}
.screen2 .description{margin-top: 7rem; padding: 3rem; border-radius: 8px;}
.screen2 img{width: 100%; height: auto;}
.screen2:before {
    content: '';
    width: 100%;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}	
.screen3{
background: url("/themes/custom/battle/images/bg-31.jpg") no-repeat top center; 
background-size: cover;
height: 800px;
}
.screen3:before
{
	content: '';
	width: 100%;
	height: inherit;
	position: absolute;
	background-color:rgba(0, 0, 0, .5);
}

.screen4{
background: url("/themes/custom/battle/images/bg-41.jpg") no-repeat top center;
padding: 6rem 0;
}
.screen4:before
{
	content: '';
	width: 100%;
	height: inherit;
	position: absolute;
	background-color:rgba(0, 0, 0, .2);
}
.screen4 .carousel-item{height: 800px;}
.carousel-item.active{display: flex; align-items: center;}
.screen4 .carousel-item .carousel-caption{bottom: auto; text-align: left; top: 10%;}

.hero img,
.screen7 img,
.partners img
{width: 100%; height: auto;}
.screen6{background: url("/themes/custom/battle/images/bg-61.jpg") no-repeat center 80%; padding: 6rem 1rem;}
.screen6 .card{background: rgba(0,0,0,.5); width: 90%;}
.screen6 .card-subtitle{color: #33ff99!important;}
.screen6 .data{width: fit-content;}
.screen6 .card-title{font-size: 1.75rem;}
.screen7 h5{font-size: 2.5rem; color: #333;}
.feedback-compact .header-h2{width: fit-content;} 
#block-webform{text-align: center;}
.form-group{text-align: left;}
.partners{text-align: center;}
.wrapper-partner{overflow-x: hidden;}
.screen5 .card-sub-text{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Фон блока при наведении */
    transition: all 0.4s ease-in-out;
    color: #fff;
    transform: translate(0px, 250px) rotate(0deg); /* Направление выезжающей панели */
}
.screen5 .card-sub-text:hover{
	position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);	
}	


/*Footer*/
footer{background: #f74c3c;}

/*owl*/
.owl-nav{display: flex; justify-content: center;}
.owl-nav span{font-size: 60px; font-weight: 700; color: #fff;}
.hero .owl-nav span{color: #000!important;}
.owl-prev span{padding-right: 2rem!important;}


 
 
 
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:15px;
display:none;
text-indent:-9999px;
background: url("/themes/custom/battle/images/icon_top.png") no-repeat;
}
 

@media (max-width: 1200px) {
.screen6 .card{width: 100%!important;} 	

} 

@media (max-width: 992px) {
.screen2 img {width: 50%;}
.screen6{background-repeat: repeat-y;}
.screen6 .card-title{font-size: 1.5rem;}
.partners img{width: auto;}
.screen4 .carousel-item .carousel-caption{top: 0;}
.screen4{padding-top: 0!important;} 
.partners {overflow-x: auto;} 
 
@media (max-width: 768px) {
.jumbotron h1{font-size: 50px;}	
header{height: auto;}
.screen2 .description{margin-top: 0;}
.screen3 {height: 550px;}
.screen2 img {width: 80%;}
.screen6 .img-circle{text-align: center!important;}
.screen4 .carousel-item {height: 682px;}
.carousel-indicators{bottom: -70px;}
}  
 
@media (max-width: 576px) {

}





