html{height: 100%; min-height: 33%;}
body{font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300;} 
.material-icons.md-green { color: rgba(39, 179, 104, 1); }

.p14{font-size: 14px;}
.p18{font-size: 18px;}
.p20{font-size: 20px;}  
.p22{font-size: 22px;}
.p24{font-size: 24px;}
.p28{font-size: 28px;}
.p30{font-size: 30px;}
.p32{font-size: 32px;}
.p36{font-size: 36px;}
.p40{font-size: 40px;}
.p42{font-size: 42px;}
.p48{font-size: 48px;}
.p72{font-size: 72px;}
.p200{font-size: 200px;}
.bold{font-weight: 700;}

/*Header*/

header{
background: url("/themes/custom/battle/images/bg-1.jpg") no-repeat top center; 
background-size: cover;
height: inherit;
}
.jumbotron{background: none;}
.navbar{padding: 0; justify-content: end;} 
.navbar-dark .navbar-toggler{border-color: rgba(255,255,255,1);}


/*Content*/
.screen2{background: url("/themes/custom/battle/images/bg-2.jpg") no-repeat top center; }
.screen2 .description{margin-top: 7rem;}
.screen2 img{width: 100%; height: auto;}
.screen3{
background: url("/themes/custom/battle/images/bg-3.jpg") no-repeat top center; 
background-size: cover;
height: 800px;
}
.screen3:before
{
	content: '';
	width: 100%;
	height: inherit;
	position: absolute;
	background-color:rgba(0, 0, 0, .5);
}

.screen4{background: url("/themes/custom/battle/images/bg-4.jpg") no-repeat top center; height: 800px;}
.screen4:before
{
	content: '';
	width: 100%;
	height: inherit;
	position: absolute;
	background-color:rgba(0, 0, 0, .2);
}
.screen4 .carousel-item{height: 800px;}
.carousel-item.active{display: flex; align-items: center;}
.screen4 .carousel-item .carousel-caption{bottom: auto; text-align: left; top: 10%;}

.hero img,
.screen7 img,
.partners img
{width: 100%; height: auto;}
.screen6{background: url("/themes/custom/battle/images/bg-6.jpg") no-repeat top center;}
.screen6 .card-subtitle{color: #33ff99!important;}
.screen6 .data{width: fit-content;}
.screen6 .card-title{font-size: 1.75rem;}
.screen7 h5{font-size: 2.5rem; color: #333;}
.feedback-compact .header-h2{width: fit-content;} 
#block-webform{text-align: center;}
.form-group{text-align: left;}
.partners{text-align: center; overflow-x: auto;}
.wrapper-partner{overflow-x: hidden;}


/*Footer*/
footer{background: #f74c3c;}
 
 
 
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:15px;
display:none;
text-indent:-9999px;
background: url("/themes/custom/battle/images/icon_top.png") no-repeat;
}
 

@media (max-width: 1200px) {
.screen6 .card{width: 100%!important;} 	

} 

@media (max-width: 992px) {
.screen2 img {width: 50%;}
.screen6{background-repeat: repeat-y;}
.screen6 .card-title{font-size: 1.5rem;}
.partners img{width: auto;}
.screen4 .carousel-item .carousel-caption{top: 0;}
.screen4{padding-top: 0!important;} 
} 
 
@media (max-width: 768px) {
.jumbotron h1{font-size: 50px;}	
header{height: auto;}
.screen2 .description{margin-top: 0;}
.screen3 {height: 550px;}
.screen2 img {width: 80%;}
.screen6 .img-circle{text-align: center!important;}
.screen4 .carousel-item {height: 682px;}
.carousel-indicators{bottom: -70px;}
}  
 
@media (max-width: 576px) {

}





