<div class="col-6 col-lg-8 align-items-center align-self-center">
	<nav class="navbar navbar-expand-lg navbar-dark justify-content-end">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
	  {% block content %}
		{{ content }}
	  {% endblock %}
	  </div>
	</nav>
</div>
