<div class="screen4 pt-5" id="screen4">			
	<div class="container">
		<div class="owl-carousel owl-theme slide-one">			
			{% for item in items %}
			  {{ item.content }}
			{% endfor %}  
		</div>			
	</div>			
</div>			